    :root {
      --main-bg-opacity: 0.8;
      --page-bg-color: rgb(15, 10, 21);
      --header-bg-color: rgb(8,3,12);
      --page-font-color: white;
      --bosque-bg-color: rgb(18,5,33);
      --rutas-bg-color: rgb(3, 104, 56);
      --experiencias-bg-color: rgb(43,132,206);
      --gastronomia-bg-color: rgb(243,147,61);
      --hospedaje-bg-color: rgb(75,86,150);
    }

    @font-face {
      font-family: 'HelveticaText';
      src: url('../css/fonts/Helvetica_LT_Std_Condensed.woff') format('woff');
    }

    @font-face {
      font-family: 'HelveticaTitles';
      src: url('../css/fonts/Helvetica_LT_Std_Bold_Condensed.woff') format('woff');
    }

    html{
      height: 100%;
    }

    body{ 
      font-family: 'HelveticaText'; 
      background-color: var(--page-bg-color);
      /*background-image: url('../img/linea_punteada.png');*/
      color: var(--page-font-color);
      height: 100%;
    }

    a:hover{
      cursor: pointer;
    }

    .phone{
      color: orange; 
      text-decoration: none;
      font-size: 22px;
    }

    .phone:hover{
      color: orange; 
      text-decoration: none;
    }

    .title{
      font-family: 'HelveticaTitles'; 
      font-size: 20px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .titleImg{
      width: 40px;
      height: 40px;
    }

    .titleImg2{
      width: 22px;
      height: 22px;
      float: right;
      margin-top: 1.5%;
    }

    .titleImg3{
      width: 130px;
      height: auto;
      float: right;
      margin-top: .5%;
      margin-right: 1%;
    }

    .header{
      margin-top: 20px;
      background-color: var(--header-bg-color);
    }

    .headerIcon{
      width: 30px; 
      height: 30px;
      margin-right: 10px;
    }

    @media only screen and (max-width: 750px) {
      /* For mobile phones: */
      [class="headerImgMiReserva"] {
        width: 105px;
        height: auto;
      }
    }

    @media only screen and (min-width: 751px) {
      /* For mobile phones: */
      [class="headerImgMiReserva"] {
        width: 130px;
        height: auto;
        margin-right: 10px;
      }
    }

    .headerReserva{
      text-align: right;
    }

    .headerOpcionMenu{
      text-align: center;
      cursor: pointer;
    }

    .headerOpcionMenuImg{
      width: 70%;
      height: 70%;
    }

    .headerOpcionMenuImgSM{
      width: 40px;
      height: 40px;
      margin-left: 50px;  
      margin-right: 10px;
    }

        /* Header */
    /*.logo{
      position: absolute;
      width: 15%;
      height: auto;
      margin-left: calc(50% - 7.5%);
      margin-top: calc(-12% + 30px);
    }*/
    @media only screen and (max-width: 750px) {
      /* For mobile phones: */
      [class="logo"] {
          position: absolute;
          width: 25%;
          height: auto;
          margin-left: calc(50% - 12.5%);
          margin-top: calc(-15% + 30px);
      }
    }

    @media only screen and (min-width: 751px) {
      /* For mobile phones: */
      [class="logo"] {
        position: absolute;
        width: 15%;
        height: auto;
        margin-left: calc(50% - 7.5%);
        margin-top: calc(-12% + 30px);
      }
    }

    @media only screen and (max-width: 751px) {
      /* For mobile phones: */
      [class="sectionContBosqueMagico1"] {
        display: none;
      }
    }

    @media only screen and (min-width: 751px) {
      /* For mobile phones: */
      [class="sectionContBosqueMagico2"] {
        display: none;
      }
    }

    @media only screen and (min-width: 751px) {
      [class="carousel slide carruselSlide"] {
        height: 80%;
        display: flex;
      }
    }

    @media only screen and (min-width: 751px) {
      /* For mobile phones: */
      [class="tittleFooter"] {
        font-size: 20px;
      }
    }
    
    /* Video */
    #myVideo {
      height: 100%;
      width: 100%;
    }

    .containerRutas{
      background-image: url('../img/rutas/rutas_magueyes.JPG');
      background-repeat: no-repeat;
      width: 100%;
      height: 400px;
      background-size: cover; 
      /*background-attachment: fixed;*/
      background-position: center center;
      margin-top: 5%;
      position: relative;
    }

    .containerTextRutas{
      position: absolute;
      bottom: 10px;
      padding: 2% 10% 2% 10%;
      background-color: var(--rutas-bg-color);
      opacity: var(--main-bg-opacity);
    }

    .containerExperiencias{
      background-image: url('../img/experiencias/experiencias.jpg');
      background-repeat: no-repeat;
      width: 100%;
      height: 400px;
      background-size: cover; 
      /*background-attachment: fixed;*/
      background-position: center center;
      margin-top: 5%;
      position: relative;
    }

    .containerTextExperiencias{
      position: absolute;
      bottom: 10px;
      padding: 2% 10% 2% 10%;
      background-color: var(--experiencias-bg-color);
      opacity: var(--main-bg-opacity);
      width: 100%;
    }

    .containerGastronomia{
      background-image: url('../img/gastronomia/gastronomia.jpg');
      background-repeat: no-repeat;
      width: 100%;
      height: 400px;
      background-size: cover; 
      /*background-attachment: fixed;*/
      background-position: center center;
      margin-top: 5%;
      position: relative;
    }

    .containerTextGastronomia{
      position: absolute;
      bottom: 10px;
      padding: 2% 10% 2% 10%;
      background-color: var(--gastronomia-bg-color);
      opacity: var(--main-bg-opacity);
      width: 100%;
    }

    .containerHospedaje{
      background-image: url('../img/hospedaje/hospedaje.jpg');
      background-repeat: no-repeat;
      width: 100%;
      height: 400px;
      background-size: cover; 
      /*background-attachment: fixed;*/
      background-position: center center;
      margin-top: 5%;
      position: relative;
    }

    .containerTextHospedaje{
      position: absolute;
      bottom: 10px;
      padding: 2% 10% 2% 10%;
      background-color: var(--hospedaje-bg-color);
      opacity: var(--main-bg-opacity);
      width: 100%;
    }

    .containerAtencion{
      background-image: url('../img/bosque_magico/4.jpg');
      background-repeat: no-repeat;
      width: 100%;
      height: 450px;
      background-size: cover; 
      /*background-attachment: fixed;*/
      background-position: center center;
      margin-top: 5%;
      position: relative;
    }

    .containerTextAtencion{
      position: absolute;
      bottom: 10px;
      padding: 20px 20px 20px 20px;
      background-color:  #da0d2f;      ;
      opacity: var(--main-bg-opacity);
      width: 100%;
    }

    .containerBosqueMagico{
      background-image: url('../img/hospedaje/hospedaje.jpg');
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover; 
    }

    .sectionBosqueMagico{
      padding-top: 30%;
      padding-bottom: 2%;
    }

    .sectionContBosqueMagico{
      background-color: var(--bosque-bg-color);
      padding: 1%;
      margin: 1%;
      border-radius: 10px;
    }

    .sectionContBosqueMagico1{
      background-color: black;
      padding: 1%;
      margin-right: 10%;
      margin-left: 10%;
      border-radius: 10px;
      position: absolute; 
      bottom: 10%;
      opacity: var(--main-bg-opacity);
    }

    .sectionContBosqueMagico2{
      background-color: var(--bosque-bg-color);
      opacity: var(--main-bg-opacity);
      padding: 20px;
    }

    .section{
      padding-top: 2%;
    }

    .rowSection{
      margin-bottom: 2%;
    }

    .titleSection1{
      opacity: var(--main-bg-opacity);
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-top: 8%;
      padding-top: 3%;
    }

    .titleSection1Rutas{
      background-color: var(--rutas-bg-color);
    }

    .titleSection1Experiencias{
      background-color: var(--experiencias-bg-color);
    }

    .titleSection1Gastronomia{
      background-color: var(--gastronomia-bg-color);
    }

    .titleSection1Hospedaje{
      background-color: var(--hospedaje-bg-color);
    }

    .titleSection2 {
      width: 100%; 
      height: 25px; 
      opacity: var(--main-bg-opacity);
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      margin-bottom: 2%;
    }

    .titleSection2Rutas{
      background-color: var(--rutas-bg-color);
    }

    .titleSection2Experiencias{
      background-color: var(--experiencias-bg-color);
    }

    .titleSection2Hospedaje{
      background-color: var(--hospedaje-bg-color);
    }

    .logoSection{
      height: 100%;
      width: 100%;
    }

    .square1 {
      display: inline;
      float: left;
      height: 100%;
      width: 65%;
      margin-right: 1%;
      background-color: var(--rutas-bg-color);
      border-top-left-radius: 10px;
      position: relative;
    }

    .square2 {
      display: inline;
      float: left;
      height: 100%;
      width: 34%;
      border-top-right-radius: 10px;
      opacity: var(--main-bg-opacity);
      padding-left: 10px;
      padding-right: 10px;
    }

    .square2Rutas{
      background-color: var(--rutas-bg-color);
    }

    .square2Experiencias{
      background-color: var(--experiencias-bg-color);
    }

    .square2Gastronomia{
      background-color: var(--gastronomia-bg-color);
    }

    .square2Hospedaje{
      background-color: var(--hospedaje-bg-color);
    }

    .square2Img{
      width: 20px;
      height: 20px;
    }

    .square2Info{
      margin-bottom: 5%;
    }

    .squareContainer0 {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-bottom: 1%;
      opacity: var(--main-bg-opacity);
    }

    .squareContainer0Rutas{
      background-color: var(--rutas-bg-color);
    }

    .squareContainer0Experiencias{
      background-color: var(--experiencias-bg-color);
    }

    .squareContainer0Gastronomia{
      background-color: var(--gastronomia-bg-color);
    }

    .squareContainer0Hospedaje{
      background-color: var(--hospedaje-bg-color);
    }

    .squareContainer1 {
      height: 270px;
      width: 100%;
    }

    .squareContainer2 {
      height: auto;
      width: 100%;
      margin-top: 1%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      opacity: var(--main-bg-opacity);
    }

    .squareContainer2Rutas{
      background-color: var(--rutas-bg-color);
    }

    .squareContainer2Experiencias{
      background-color: var(--experiencias-bg-color);
    }

    .squareContainer2Gastronomia{
      background-color: var(--gastronomia-bg-color);
    }

    .squareContainer2Hospedaje{
      background-color: var(--hospedaje-bg-color);
    }

    .squareContainerP2 {
      padding-top: 2%;
      padding-bottom: 2%;
      margin-left: 3%;
      margin-right: 3%;
    }

    .squareImg {
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
    }

    .carousel .slide {
      width: 100%;
      height: 100%;
    }

    .carousel-item {
      position: relative;
    }

    .squareWithBorders{
      margin-top: 5%;
      margin-right: 2%;
      margin-left: 2%;
      margin-bottom: 10%;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 2%;
      border: 1px solid white;
      border-radius: 10px;
      font-size: 20px;
    }

    .footer{
      background: linear-gradient(rgba(15, 10, 21, 1), rgba(15, 10, 21, .6)), url('../img/atencion_turistica/ultima\ imagen.jpg');
      background-size: 120% 120%;
      padding-bottom: 35px;
      padding-top: 15px;
    }

    .iconFooter{
      width: 25px;
      height: 25px;
      margin-left: 5px;
    }

    .imgBosqueLuciernagas{
      width: 80%;
    }

    .imgFacturacion{
      width: 80px;
      height: auto;
    }

    .imgVuelos{
      width: 60px;
      height: auto;
    }

    .imgClima{
      width: 55px;
      height: auto;
    }

    .imgCalLunar{
      width: 90px;
      height: auto;
    }

    .imgLlegar{
      width: 80px;
      height: auto;
    }

    .imgsExtras{
      margin-top: 3%;
      margin-bottom: 3%;
    }

    .divImgFooter{
      text-align: center;
    }

    .imgFooter{
      width: 130px;
      height: 50px;
    }

    .center{
      text-align: center;
    }

    .left{
      text-align: left;
    }

    .modal-header{
      border: none;
    }

    .modal-footer{
      border: none;
    }

    .modal-content{
      border-radius: 10px;
    }

    #facturaModalTittle{
      text-align: center;
      width: 100%;
    }

    #factModalLogo{
      width: 20%;
      margin-bottom: 3%;
    }

    .modal-content{
      background-image: url("../img/experiencias/experiencias.jpg");
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover; 
    }

    /*.facturaModalContent{
      margin-top: 5%;
    }*/

    .divider{
      padding-top: 5%;
      padding-bottom: 5%;
    }

    .dividerSection{
      height: 30px;
      background-color: var(--page-bg-color);
    }

    .tittleFooter{
      font-size: 25px;
    }

